@model IEnumerable<ExploreTexas.Models.ImageModel>
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a  asp-action="Create" asp-controller="Image" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagename)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imagename)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Imageid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Imageid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Imageid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
